.container {
    display: flex;
}

.cards {
    flex: 2.6 1 0;
    min-height: 100vh;
}

.favorite {
    flex: 1 1 0;
    height: fit-content;
    padding: 15px;
    background-color: #6552f4;
    border-radius: 10px;
    margin-left: 20px;
}

.favorite h4 {
    font-size: 1.2rem;
}

